{
  "node_id" : 1000,
  "node_name" : "test_node_1000",
  "taskserver_addr" : "127.0.0.1",
  "taskserver_port" : 5660,
  "upload_addr" : "127.0.0.1",
  "upload_port" : 5566,
  "wal_path" : "../cached/nodecache",
  "encrypt" : "",
  "compress" : "gzip",
  "batch_size" : 3,
  "report_frequency" : 3,
  "fetchtask_frequency" : 1
}
